{% load staticfiles %}
{% load crispy_forms_tags %}
{% load rsvp %}


<html>
<head>
    <link type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'rsvp.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'rsvp.js' %}"></script>
</head>
<body>
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class='col-sm-8 col-sm-offset-2'>
            <legend>You</legend>
            {% with form=party_form %}
                {% if form.errors %}{{ form.errors }}{% endif %}
                {% form_field form.rsvp %}
                {% form_field form.name %}
                {% form_field form.email %}

                {% form_field form.num_adults %}
                {% form_field form.num_kids %}

                {% form_field form.meal_preference %}
                {% form_field form.accom_preference %}

            {% endwith %}
        </div>
        <div class='col-sm-8 col-sm-offset-2 additional-guests rsvp-hidden'>
            <legend>Who is coming with you?</legend>
            {{ guest_formset.management_form }}
            <div class="adults">
                <label>Guests</label>
                {% for guest in guest_formset %}
                    <div class="guest">
                        {{ guest }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
</body>
</html>
