{% load staticfiles %}
{% load crispy_forms_tags %}


<html>
    <head>
        <link type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    </head>
    <body>
        <br />
        <br />
        <div class='col-sm-6 col-sm-offset-2'>
        {% if partyform %}
            {% crispy partyform partyform.helper %}
        {% endif %}
        {% if num_adults and guestformset %}
            {% crispy guestformset %}
        {% endif %}
        </div>
        </form>
    </body>
</html>
